html {
  margin: 0;
  width:auto;
  }
body {
  font-size: 16px;
}
/* Header */

.container {
   display: inline-flex;
}
header {
  background-color: white;
  height: 64px;
  margin: 0;
  position: fixed;
  z-index: 1;
}

.logo{
  padding-left: 24px;
  flex-grow:1;
}

h1 {
  color: black;
  font-weight: bold;
  line-height: 32px;
}

h1 .title {
  color: aquamarine;
}

nav {
  display: flex;
}

nav ul li {
  margin: auto;
  font-size: 18px;
  display: inline-flex;
  justify-content: flex-end;
  text-decoration: none;
  text-align: right;
  padding: 5px;
  padding-left: 80px;
  padding-right: 24px;
}

/* Banner */

.banner {
  height: 550px;
  width: auto;
  background-color: green;
  flex-direction: column;

  border: 1px solid black;
}
.banner .image {
  margin: 32px 24px;
  height: 430px;
  width: 580px;
  padding: 32px 24px;
  }
  .banner .content {
    font-size: 20px;
    float: right;
    display: inline;
    text-align: center;
    margin: 80px 320px 20px 24px;
   font-weight: bold;
}
.content .text {
  font-weight: bold;
  text-align: center;
}
.button {
  color: white;
  background-color: black;
  border-radius: 5px;
  width: 250px;
  padding: 8px;
  text-align: center;
}

/* Sub-Banner */
.sub-banner {
  height: 400px;
  width: auto;
  background-color: white;
  color: black;
  display:inline-flex;
  }
.sub-banner .image {
  margin: 32px 24px;
  height: 300px;
  width: 580px;
  padding: 32px 24px;
  }
  .sub-banner .info {
  width: auto;
  text-align: justify;
   }
.sub-content .text {
  font-weight: bold;
  text-align: center;
}
.banner-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  width: auto;
}
.banner-column img {
  height: 200px;
  width: 200px;
}
.banner-column .info {
  font-size: 14px;
  float: right;
  height: 200px;
  width: auto;
  margin-right: 800px;

  }
